html,body{
    height: 100%;
}
body {
    background-color: white;
    background-image: url("https://gitlab.com/proiectcolectiv_333-1/mealbreak/uploads/92b9f307fe4eca9ae3dbbd7bd008e66a/restaurant-group-report-30-per-cent-fall-profits-846013.jpg");
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

#email::placeholder{
    color: white;
    opacity: 1;
}

#email{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:60px;
    width: 400px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

#password::placeholder{
    color: white;
    opacity: 1;
}

#password{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:60px;
    width: 400px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

div.form-group-email{
    position: absolute;
    right: 18px;
    top: 330px;
    font-size: x-large;
}

div.form-group-password{
    position: absolute;
    right: 10px;
    top: 470px;
    font-size: x-large;
}

div.form-group-login{
    position: absolute;
    right: 10px;
    bottom: 320px;
}

#login{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:55px;
    width: 200px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
    font-size: 30px;
}
div.form-group-createAcount{
    position: absolute;
    right: 10px;
    bottom: 260px;
    color: white;
    font-size: xx-large;
}

div.form-group-Title{
    position: absolute;
    right: 150px;
    top: 100px;
    color: white;
    font-size: 300%;
}

#Title{
    font-size: 100px;
}

