body {
    background-image: url("https://img-9gag-fun.9cache.com/photo/aKd6px3_700bwp.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-form{
    margin-top: 60px;
}

.centered-form.panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#username::placeholder{
    color: white;
    opacity: 1;
}

#username{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

#email::placeholder{
    color: white;
    opacity: 1;
}

#email{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

#password::placeholder{
    color: white;
    opacity: 1;
}

#password{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

#password_confirm::placeholder{
    color: white;
    opacity: 1;
}

#password_confirm{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
}

.control-register{
    color: white;
}

#register{
    position: relative;
    margin-left: 400px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height:50px;
    width: 150px;
    transition:height 1s;
    -webkit-transition:height 1s;
    border-width: thick;
    font-size: 20px;
}

#checkbox{
    color: white;
    position: relative;
    margin-left: 180px;
}

#register1 .validation-error > span {

    width: 250px;
    height: 40px;
    position: absolute;
    left: 475px;
    top: 40px;
    z-index: 1300;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.validation-error > span, .validation-message-error {

    display: block;
    background-color: #801105;
    width: auto;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.5);
    padding: 5px 8px;
    margin: 5px auto;
    font-size: 14px;
    line-height: 1.2em;
    color: #fff;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

}
