* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.body-container {
    background-image: url("https://images.unsplash.com/photo-1457609171594-20fa2108dc41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1303&q=80");
    background-repeat: no-repeat;
    background-size: cover;

}

.hero {
    margin-left: 5vw;
    background-repeat: no-repeat;
}

.logo {
    margin-left: 15%;
}

.hero__header {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header__nav {
    float: right;
    margin-right: 15%;
}
.nav__wrapper {
    font-size: 20px;
    padding-top: 3vh;
    list-style: none;
}

.nav__item {
    display: inline-block;
    padding: 1vw;
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.main__content {
    display: flex;
    justify-content: center;
}

.wrapper {
    opacity: 1;
    border-radius: 1%;
    margin: 0 auto;
    width: 18vw;
    text-align: center;
}

.intro {
    padding: 40px;
    padding-top: 14vh;
}

.title {
    text-align: center;
    color: whitesmoke;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 9%;
}

h4#motto {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 48vh;
}

h4#copyright {
    color: whitesmoke;
    text-align: center;
}

h5 {
    color: whitesmoke;
    text-align: center;
}

.second__body__container {
    margin-top: 5px;
    background-image: linear-gradient(to bottom, #2c2223, #2b2424);
}

#header__about {
    padding-top: 5vh;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

#welcome_hr {
    height: 2px;
    background-color: whitesmoke;
    width: 8%;
    display: block;
    margin-top: -1px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

#quote {
    margin-top: 15vh;
    text-indent: 5%;
    font-size: 20px;
    margin-bottom: 90px;
}

#mobile__author{
    display: none;
}

#author {
    margin-top: 15.5vh;
    margin-right: 1vw;
    margin-left: 20vw;
    float: left;
    width: 5vw;
    color: whitesmoke;
    position: relative;

}

#author::before {
    content: open-quote;
    font-size: 70px;
    top: -45px;
    position: absolute;
    color: whitesmoke;
}

.wrapper__details {
    float: right;
    color: dimgrey;
    margin-right: 20vw;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5vh;
}

.details__title {
    padding-bottom: 5%;
    text-align: center;
}

.details__contents {
    letter-spacing: 1px;
    text-indent: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

p {
    line-height: 30px;
    margin-bottom: 30px;
}

p#romanian {
    margin-bottom: 15%;
}

.hero__footer {
    text-align: center;
}

.footer__copy{
    color: white;
    font-size: 20px;
    margin-top: 10vh;
    letter-spacing: 1px;
}

@media (max-width: 500px){

    .body-container {
        background-image: linear-gradient(#2B1B17, #0C090A);
    }

    .logo{
        margin-left: 0;
    }

    .nav__item {
        letter-spacing: 0;
        padding: 2vw;
    }

    .hero__header {
        margin-bottom: 5vh;
        text-align: center;
    }

    .hero{
        margin-left: 0;
    }

    .header__nav {
        float: unset;
        margin-right: 0;
    }

    .main__content {
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .wrapper {
        width: 100%;
    }

    .intro{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    #quote {
        margin-top: 5%;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #author{
        margin-left: 0;
        left: 20vw;
        top: 10vh;
        display: none;
        color: dimgrey;

    }

    #mobile__author{
        display: unset;
    }

    .header__about{
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #author::before{
        display: none;
        color: dimgrey;
    }

    .wrapper__details{
        margin-right: 5vw;
        margin-left: 5vw;
    }
}
